@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Authentic";
    src: url("../public/Authentic.otf");
  }
  @font-face {
    font-family: "Georgia";
    src: url("../public/Georgia.ttf");
  }

  @font-face {
    font-family: "GeorgiaI";
    src: url("../public/GeorgiaI.ttf");
  }